h1 {
    color: rgb(148, 4, 4);
    font-size: 50px;
    
}

p {
    color: rgb(38, 6, 198);
    font-size: 30px;
}

li {
    color: rgb(4, 139, 53);
    font-size: 20px;
}

img {
    font-size: 70px;
}